@import '~antd/dist/antd.css';

.App {
  min-height: 100vh;
  background-color: #a4a4a4;
}

.App-header {
  /* background-color: #282c34; */
  text-align: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.ConsistentWidth {
  width: 60vw
}

.SidePadding {
  padding-right: 5%;
  padding-left: 5%;
}
/* .App-link {
  color: #09d3ac;
} */
